parameters:
  level: 6
  paths:
    - src
    - tests
  excludePaths:
    analyse:
      - tests/Architecture
  bootstrapFiles:
    - vendor/autoload.php
  tmpDir: var/phpstan
  ignoreErrors:
    - '#Property App\\Entity\\Product::\$id \(int\|null\) is never assigned int so it can be removed from the property type\.#'
  parallel:
    maximumNumberOfProcesses: 1
